extends templates/standard

block append css

block content
  if me === you 
    h1 My Most Listened To Albums
  else
    h1 Your Most Listened To Albums (#{you})
  .albums-list
    each album in albumsJSON
      .album
        h5.name(title="#{album.name}") #{album.name}
        h5.artist #{album.artist.name}
        .cover
          img(src="#{album.image[3]['#text']}")
          .donate
            a.donate-cash.btn.btn-inverse(href="donate") Donate
